:root {
    --col-bg: cornflowerblue;    
    
    --col-h1: whitesmoke;
    --col-h2: rgb(147, 60, 60);
    --col-h3: darkorange;
    --col-body: whitesmoke;
    --col-border: rgba(235, 215, 40, 0.71);
    --col-box-bg: rgba(2, 2, 2, 0.9);


    --sh-box: rgb(235, 215, 40) 0px 20px 30px -10px;
}

body {
    /* background-color: var(--col-bg); */
    height: 100vh;
    background-image: url(../media/backgrnd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--col-body);
    font-size: 16px;
    font-family: 'Courier New', monospace;
}

header {
    width: 100vw;
}

main {
    width: 1000px;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

footer {
    position:fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    height: 3rem;
    color: var(--col-h1);
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* titles  */

h1 {
    text-align: center;
    color: var(--col-h1);
    font-size: 2rem;
}

h2 {
    color: var(--col-h2);
    text-align: center;
    font-size: 1.5em;
}

h3 {
    color: var(--col-h3);
    font-size: 1rem;
    text-transform: uppercase;
    margin: 1rem 0 2rem;
}

h6 {
    color:darkorange;
    font-size: 12vb;
    transform: rotate(-45deg);
    text-align: center;
    text-transform: uppercase;
}

/* class  */
.box {
    background-color: var(--col-box-bg);
    border: 2px solid var(--col-border);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--sh-box);
}

.construction {
    position: fixed;
    top: 20%;
    left: 0;
    width: 50vw;
}
