<section class="bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="max-w-screen-md mb-8 lg:mb-16">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold  text-white">Je suis Sébastien, un développeur web FullStack et artiste numérique de Strasbourg, France.</h2>
          <p class=" sm:text-xl text-gray-400">Je suis sensible aux sujets d'éco-conception et d'inclusivité, et j'essaie de refléter cela dans mon code.</p>
          <p class=" sm:text-xl text-gray-400 pt-3">Je m'intéresse également aux domaines artistiques numériques tels que la 3D, l'audio, la vidéo, les visuels génératifs, l'IA et le design.</p>
        </div>
        <div class="my-8"><p class="sm:text-2xl font-bold text-gray-200 ">Voici les outils que j'utilise :</p></div>
        
        <div class="space-y-8 md:grid sm:grid-cols-3 lg:grid-cols-6 md:gap-12 md:space-y-0">
          <div>
              <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full lg:h-12 lg:w-12 bg-primary-900">
                <svg width="128" height="128" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none">
                        <rect width="256" height="256" fill="#E14E1D" rx="60"/>
                        <path fill="#fff" d="m48 38l8.61 96.593h110.71l-3.715 41.43l-35.646 9.638l-35.579-9.624l-2.379-26.602H57.94l4.585 51.281l65.427 18.172l65.51-18.172l8.783-98.061H85.824l-2.923-32.71h122.238L208 38z"/>
                        <path fill="#EBEBEB" d="M128 38H48l8.61 96.593H128v-31.938H85.824l-2.923-32.71H128zm0 147.647l-.041.014l-35.579-9.624l-2.379-26.602H57.94l4.585 51.281l65.427 18.172l.049-.014z"/>
                    </g>
                </svg>
              </div>
              <h3 class="mb-2 text-xl font-bold text-white">JavaScript / HTML / CSS</h3>
              <p class=" text-gray-400"></p>
          </div>
          <div>
              <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full  lg:h-12 lg:w-12 bg-primary-900">
                <svg width="128" height="128" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none">
                        <rect width="256" height="256" fill="#242938" rx="60"/>
                        <path fill="#FF2D20" fill-rule="evenodd" d="M215.846 78.314c.064.243.098.494.098.747v39.199c0 .503-.131.997-.379 1.432a2.838 2.838 0 0 1-1.037 1.047l-32.446 18.942v37.545a2.873 2.873 0 0 1-1.409 2.48l-67.728 39.535c-.155.089-.324.146-.493.207c-.064.022-.123.061-.19.079a2.81 2.81 0 0 1-1.445 0c-.077-.022-.148-.065-.222-.093c-.155-.057-.317-.107-.465-.193l-67.714-39.535a2.848 2.848 0 0 1-1.036-1.047a2.893 2.893 0 0 1-.38-1.433V59.629c0-.258.035-.508.099-.75c.02-.083.07-.158.098-.24c.053-.15.102-.303.18-.443c.053-.093.13-.168.194-.253c.08-.115.155-.233.25-.333c.08-.082.187-.143.278-.214c.102-.086.194-.179.31-.247h.004L76.27 37.382a2.796 2.796 0 0 1 2.819 0l33.859 19.767h.007c.112.072.208.161.31.243c.091.072.193.136.274.215c.099.103.17.221.254.336c.06.085.141.16.19.253c.081.143.127.293.184.443c.028.082.077.157.098.243c.065.244.098.495.099.747v73.45l28.214-16.473v-37.55c0-.25.035-.503.099-.742c.025-.086.07-.161.099-.243c.056-.15.105-.304.183-.443c.053-.093.13-.168.19-.254c.085-.114.155-.232.254-.332c.081-.082.183-.143.275-.215c.105-.085.197-.178.31-.246h.004l33.862-19.768a2.789 2.789 0 0 1 2.818 0l33.859 19.768c.12.072.211.16.317.243c.088.071.19.136.271.214c.099.104.169.222.254.336c.063.086.141.16.19.254c.081.14.127.293.183.443c.032.082.078.157.099.243m-5.546 38.292V84.009l-11.849 6.916l-16.369 9.557v32.597l28.221-16.473zm-33.859 58.966v-32.618l-16.101 9.325l-45.979 26.609v32.925zM46.644 64.577v110.995l62.073 36.238v-32.919l-32.428-18.61l-.01-.007l-.015-.007c-.109-.064-.2-.157-.303-.236c-.088-.071-.19-.128-.267-.207l-.007-.01c-.092-.09-.156-.2-.233-.301c-.07-.096-.155-.178-.211-.278l-.004-.011c-.064-.107-.103-.236-.148-.357c-.046-.107-.106-.207-.134-.322v-.004c-.035-.135-.042-.278-.057-.418c-.014-.107-.042-.214-.042-.321V81.051L58.493 71.49l-11.849-6.91zm31.04-21.415L49.474 59.63l28.203 16.466l28.207-16.47l-28.207-16.463zm14.671 102.764l16.366-9.553V64.577l-11.85 6.917l-16.368 9.556v71.797zm86.909-83.332l-28.208 16.467l28.208 16.466l28.203-16.47zm-2.823 37.888l-16.369-9.557l-11.848-6.916v32.597l16.365 9.553l11.852 6.92zm-64.905 73.458l41.373-23.952l20.682-11.968l-28.186-16.456l-32.453 18.946l-29.578 17.267z" clip-rule="evenodd"/>
                    </g>
                </svg>
              </div>
              <h3 class="mb-2 text-xl font-bold text-white">Laravel</h3>
              <p class=" text-gray-400"></p>
          </div>
          <div>
              <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                <svg width="128" height="128" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none">
                        <rect width="256" height="256" fill="#242938" rx="60"/>
                        <path fill="#fff" d="M128 228c55.228 0 100-44.772 100-100S183.228 28 128 28S28 72.772 28 128s44.772 100 100 100"/>
                        <path fill="#242938" d="M171.719 65.002c-10.159.354-19.027 5.953-25.626 13.699c-7.309 8.492-12.171 18.564-15.674 28.846c-6.268-5.136-11.102-11.786-21.156-14.685c-7.771-2.23-15.933-1.31-23.439 4.283c-3.555 2.656-6.005 6.671-7.17 10.445c-3.016 9.807 3.171 18.536 5.981 21.67l6.144 6.584c1.266 1.292 4.317 4.659 2.826 9.487c-1.612 5.251-7.94 8.649-14.433 6.647c-2.9-.885-7.065-3.045-6.131-6.086c.385-1.245 1.275-2.175 1.753-3.25c.437-.925.647-1.618.78-2.025c1.186-3.873-.435-8.911-4.582-10.189c-3.87-1.186-7.83-.247-9.364 4.736c-1.741 5.66.967 15.932 15.477 20.406c16.999 5.223 31.379-4.033 33.418-16.105c1.285-7.561-2.129-13.178-8.384-20.404l-5.096-5.635c-3.087-3.085-4.147-8.341-.952-12.38c2.696-3.408 6.535-4.863 12.824-3.153c9.179 2.493 13.271 8.862 20.098 13.998c-2.819 9.247-4.661 18.528-6.328 26.85l-1.017 6.205c-4.881 25.599-8.606 39.655-18.287 47.725c-1.95 1.386-4.739 3.463-8.942 3.608c-2.203.068-2.914-1.448-2.945-2.108c-.052-1.546 1.25-2.255 2.117-2.951c1.294-.706 3.25-1.877 3.118-5.627c-.142-4.43-3.812-8.273-9.117-8.097c-3.975.136-10.033 3.876-9.805 10.723c.237 7.071 6.828 12.371 16.765 12.035c5.312-.182 17.175-2.345 28.865-16.241c13.606-15.93 17.411-34.192 20.274-47.558l3.195-17.646c1.775.212 3.673.354 5.737.403c16.947.358 25.423-8.421 25.549-14.805c.084-3.864-2.535-7.666-6.202-7.58c-2.625.074-5.922 1.821-6.714 5.451c-.773 3.562 5.392 6.776.573 9.897c-3.423 2.215-9.561 3.777-18.204 2.508l1.572-8.686c3.207-16.472 7.164-36.734 22.172-37.227c1.094-.055 5.096.05 5.189 2.696c.028.884-.191 1.11-1.227 3.134c-1.053 1.577-1.451 2.92-1.401 4.464c.144 4.206 3.343 6.97 7.967 6.804c6.194-.2 7.975-6.23 7.873-9.327c-.25-7.275-7.919-11.872-18.071-11.54"/>
                    </g>
                </svg>                    
              </div>
              <h3 class="mb-2 text-xl font-bold dark:text-white">Symfony</h3>
              <p class="text-gray-500 dark:text-gray-400"></p>
          </div>
          <div>
              <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full  lg:h-12 lg:w-12 bg-primary-900">
                <svg width="128" height="128" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none">
                        <rect width="256" height="256" fill="#242938" rx="60"/>
                        <path fill="url(#skillIconsPythonDark0)" d="M127.279 29c-50.772 0-47.602 22.018-47.602 22.018l.057 22.81h48.451v6.85H60.489S28 76.992 28 128.221c0 51.23 28.357 49.414 28.357 49.414h16.924v-23.773s-.912-28.357 27.905-28.357h48.054s26.999.436 26.999-26.094V55.546S180.338 29 127.279 29m-26.716 15.339a8.708 8.708 0 0 1 8.717 8.717a8.708 8.708 0 0 1-8.717 8.716a8.708 8.708 0 0 1-8.716-8.716a8.708 8.708 0 0 1 8.716-8.717"/>
                        <path fill="url(#skillIconsPythonDark1)" d="M128.721 227.958c50.772 0 47.602-22.017 47.602-22.017l-.057-22.811h-48.451v-6.849h67.696S228 179.966 228 128.736c0-51.23-28.357-49.413-28.357-49.413h-16.924v23.773s.912 28.357-27.905 28.357H106.76s-27-.437-27 26.093v43.866s-4.099 26.546 48.961 26.546m26.716-15.339a8.708 8.708 0 0 1-8.717-8.716a8.708 8.708 0 0 1 8.717-8.717a8.709 8.709 0 0 1 8.717 8.717a8.709 8.709 0 0 1-8.717 8.716"/>
                        <defs>
                            <linearGradient id="skillIconsPythonDark0" x1="47.22" x2="146.333" y1="46.896" y2="145.02" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#387EB8"/>
                                <stop offset="1" stop-color="#366994"/>
                            </linearGradient>
                            <linearGradient id="skillIconsPythonDark1" x1="108.056" x2="214.492" y1="109.905" y2="210.522" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FFE052"/>
                                <stop offset="1" stop-color="#FFC331"/>
                            </linearGradient>
                        </defs>
                    </g>
                </svg>
              </div>
              <h3 class="mb-2 text-xl font-bold text-white">Python</h3>
              <p class="text-gray-400"></p>
          </div>
          <div>
              <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                <svg width="128" height="128" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none">
                        <rect width="256" height="256" fill="#00599C" rx="60"/>
                        <path fill="#fff" d="M110.759 210.517C65.125 210.517 28 173.392 28 127.759C28 82.125 65.125 45 110.759 45c29.445 0 56.908 15.846 71.668 41.353l-35.816 20.726c-7.387-12.768-21.126-20.7-35.852-20.7c-22.817 0-41.38 18.563-41.38 41.38c0 22.816 18.563 41.379 41.38 41.379c14.727 0 28.466-7.932 35.854-20.702l35.816 20.725c-14.76 25.51-42.223 41.356-71.67 41.356"/>
                        <path fill="#fff" d="M193.517 123.161h-9.196v-9.196h-9.194v9.196h-9.196v9.195h9.196v9.196h9.194v-9.196h9.196zm34.483 0h-9.196v-9.196h-9.194v9.196h-9.196v9.195h9.196v9.196h9.194v-9.196H228z"/>
                    </g>
                </svg>
              </div>
              <h3 class="mb-2 text-xl font-bold dark:text-white">C++</h3>
              <p class="text-gray-500 dark:text-gray-400"></p>
          </div>
          
      </div>
  </div>
</section>
